/* колір основного тексту: color: #757575;
колір 2-го тексту color: #212121 */

/* білий #ffffff */
/* акцент #2196F3; */
/* основний фон #ffffff*/
/* фон-2 #2F303A*/
:root {
    /* Fonts */
    --main-font: 'Open Sans', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* Text colors */
    --primary-txt-cl: #757575;
    --title-txt-cl: #212121;
    --accent-txt-cl: #2196F3 ;
    /* Background */
    --primary-bg-cl: #ffffff;
    --accent-bg-cl: #2196F3;
    --gray-bg-cl: #2F303A;
    /* Colors for button */
    --text-bt-cl: #ffffff;
}
    
.page {
    background: var(--primary-bg-cl);
    color: var(--primary-txt-cl);

    font-family: Roboto, sans-serif; 
}
.logo-link {
    color: var(--accent-txt-cl);
    font-family: Raleway, sans-serif;
}

.logo-header {
    color: #000000;
}

.logo-footer {
    color: #ffffff;
}

.footer {
    background: var(--gray-bg-cl);
}

/* Section-1 */
.hero {
    background: var(--gray-bg-cl);
}
.hero-title {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}


.list {
    list-style: none;
}
/* Навігація */
    /* Навигація по сайтам */
.site-nav .link {
    color: var(--title-txt-cl);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-txt-cl);
}
    /* Контакти */
.site-nav .contact {
    color: var(--primary-txt-cl);
}

.site-nav .contact:hover,
.site-nav .contact:focus {
    color: var(--accent-txt-cl);
}

/* Заголовки секцій */
.section-title {
    color: var(--title-txt-cl);
}
.list-title {
    color: var(--title-txt-cl);
}

/* Button */
.button {
    color: var(--title-txt-cl);
    background-color: var(--primary-bg-cl);
}

/* я не знаю чого кнопка не в центрі. поможіть(( */
.hero-button {
    color: var(--text-bt-cl);
    background-color: var(--accent-bg-cl);
    text-align: center;
}
.button.radio {
    color: var(--title-txt-cl);
    background-color: var(--primary-bg-cl);
}
.button.radio:hover {
    color: var(--text-bt-cl);
    background-color: var(--accent-bg-cl);
}






